<h1>All Students</h1>

<ul>
  <% @students.each do |student| %>
    <li>
      <a href="/professors/<%= student.id %>">
        <%= student.Name %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Student", new_students_path %>