<ul>
  <li><%= link_to "Edit", edit_students_path(@student) %></li>
  <li><%= link_to "Destroy", students_path(@student),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>